openapi: 3.2.0
info:
  title: Neon CRM API v2 Properties API
  description: Neon CRM API v2 is a RESTful, JSON-based rebuild of Neon One's legacy API v1, first launched in 2019.
  version: '2.11'
  contact:
    name: Neon One Developer Center
    url: https://developer.neoncrm.com/
  license:
    name: Proprietary
    url: https://neonone.com/
servers:
- url: https://api.neoncrm.com/v2
  description: Production and Sandbox
- url: https://trial.z2systems.com/v2
  description: Trial instances
security:
- basicAuth: []
tags:
- name: Properties
  description: Reference and lookup data used across other resources.
paths:
  /payments/creditCardTypes:
    get:
      operationId: listCreditCardTypes
      tags:
      - Properties
      summary: List accepted credit card types
      responses:
        '200':
          description: A list of credit card types.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
  /payments/tenders:
    get:
      operationId: listPaymentTenders
      tags:
      - Properties
      summary: List payment tender types
      description: Includes DAFpay and ACSS tender types added in API v2.10.
      responses:
        '200':
          description: A list of tender types.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
  /payments/processorSettings:
    get:
      operationId: getPaymentProcessorSettings
      tags:
      - Properties
      summary: Retrieve payment processor settings
      responses:
        '200':
          description: Payment processor settings, including merchant ID for ACH.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /properties/funds:
    get:
      operationId: listFunds
      tags:
      - Properties
      summary: List funds
      responses:
        '200':
          description: A list of funds.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
  /properties/purposes:
    get:
      operationId: listPurposes
      tags:
      - Properties
      summary: List purposes
      responses:
        '200':
          description: A list of purposes.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
  /properties/solicitationMethods:
    get:
      operationId: listSolicitationMethods
      tags:
      - Properties
      summary: List solicitation methods
      responses:
        '200':
          description: A list of solicitation methods.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
  /properties/countries:
    get:
      operationId: listCountries
      tags:
      - Properties
      summary: List countries
      responses:
        '200':
          description: A list of countries.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
  /properties/states:
    get:
      operationId: listStates
      tags:
      - Properties
      summary: List states/provinces
      responses:
        '200':
          description: A list of states/provinces.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Authentication. Username is the Neon CRM organization's Org ID; password is an API key generated for a system user under Settings > User Management.
